{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Chain Letter{% endblock %}</h1>
{% if parent != sha256 %}
<a href="{{ url_for('chainlink.view', sha256=parent) }}">parent</a>
{% endif %}
{% endblock %}

{% block content %}
<div>
    <h3>{{ sha256 }}</h3>

    {% if letter is not none %}
    <h4>Submitted by</h4>
    <div>{{letter.username}} from {{letter.home_address}}</div>

    <h4>Message</h4>
    <div style="white-space: pre">{{letter.message}}</div>

    <h4>Downstream Letters</h4>
    {% for child in children %}
    <a href="{{ url_for('chainlink.view', sha256=child) }}">
        {{child}}
    </a>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}