{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}View{% endblock %}</h1>
{% if parent != sha256 %}
<a href="{{ url_for('chainlink.view', sha256=parent) }}">parent</a>
{% endif %}
{% endblock %}

{% block content %}
<div>
    <h3>{{ sha256 }}</h3>

    {% if letter is not none %}
    <h4>Submitted by</h4>
    <div>{{letter.username}} from {{letter.home_address}}</div>

    <h4>Message</h4>
    <div style="white-space: pre">{{letter.message}}</div>

    <h4>Ancestry</h4>
    This is letter #{{letter.id}}.
    {% if depth == 0 %}It is the root letter!
    {% else %}It took {{depth}} hops from the root letter to get here.
    {% endif %}

    <h4>Downstream Letters</h4>
    <div>
        Create new hashes to share with people, and ask that they write a new letter
        in the chain!
    </div>
    {# only render the button if we have a full hash #}
    {% if sha256|length == 64 %}
    <button
        hx-post="/api/make_child/{{sha256}}"
        hx-swap="beforeend"
        hx-target="#ul-children"
        >
        Create new hash
    </button>

    {% endif %}
    <ul id="ul-children" , style="list-style-type: none; padding: 0; font-family: monospace;">
        {% for child in children %}
        <li>
            <a href="{{ url_for('chainlink.view', sha256=child) }}">
                {{child}}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% endif %}
</div>
{% endblock %}